<!-- TODO this file has become a mess, refactor it -->

{% if page.bigimg or page.title %}

{% if page.bigimg %}
  <div id="header-big-imgs" data-num-img={% if page.bigimg.first %}{{ page.bigimg.size }}{% else %}1{% endif %}
    {% for bigimg in page.bigimg %}
	  {% assign imgnum = forloop.index %}
	  {% for imginfo in bigimg %}
	    {% if imginfo[0] %}
		  data-img-src-{{ imgnum }}="{{ imginfo[0] | prepend: site.baseurl | replace: '//', '/' }}"
		  data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
		{% else %}
		  data-img-src-{{ imgnum }}="{{ imginfo | prepend: site.baseurl | replace: '//', '/' }}"
		{% endif %}
	  {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

<header class="header-section {% if page.bigimg %}has-img{% endif %}">

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'], ["\(", "\)"] ],
        displayMath: [ ['$$', '$$'], ["\[", "\]"] ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
      //displayAlign: "left",
      //displayIndent: "2em"
    });
</script>
<script type="text/javascript">
    (function () {
    var newMathJax = 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js';
    var oldMathJax = 'cdn.mathjax.org/mathjax/latest/MathJax.js';
    var replaceScript = function (script, src) {
    //
    //  Make redirected script
    //
    var newScript = document.createElement('script');
    newScript.src = newMathJax + src.replace(/.*?(\?|$)/, '$1');
    //
    //  Move onload and onerror handlers to new script
    //
    newScript.onload = script.onload; 
    newScript.onerror = script.onerror;
    script.onload = script.onerror = null;
    //
    //  Move any content (old-style configuration scripts)
    //
    while (script.firstChild) newScript.appendChild(script.firstChild);
    //
    //  Copy script id
    //
    if (script.id != null) newScript.id = script.id;
    //
    //  Replace original script with new one
    //
    script.parentNode.replaceChild(newScript, script);
    //
    //  Issue a console warning
    //
    console.warn('WARNING: cdn.mathjax.org has been retired. Check https://www.mathjax.org/cdn-shutting-down/ for migration tips.')
    }
    if (document.currentScript) {
      var script = document.currentScript;
      replaceScript(script, script.src);
    } else {
    //
    // Look for current script by searching for one with the right source
    //
    var n = oldMathJax.length;
    var scripts = document.getElementsByTagName('script');
    for (var i = 0; i < scripts.length; i++) {
      var script = scripts[i];
      var src = (script.src || '').replace(/.*?:\/\//,'');
      if (src.substr(0, n) === oldMathJax) {
        replaceScript(script, src);
        break;
      }
    }
  }
  })();
  </script>
	
{% if page.bigimg %}
<div class="big-img intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
		  {% if page.subtitle %}
		    {% if include.type == "page" %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
			{% else %}
			<h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
			{% endif %}
		  {% endif %}
		  
		  {% if include.type == "post" %}
		  <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
		  {% endif %}
        </div>
      </div>
    </div>
  </div>
  <span class='img-desc'></span>
</div>
{% endif %}
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
		  {% if page.subtitle %}
		    {% if include.type == "page" %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
			{% else %}
			<h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
			{% endif %}
		  {% endif %}
		  
		  {% if include.type == "post" %}
		  <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
		  {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</header>


{% else %}
<div class="intro-header"></div>
{% endif %}

